<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="red">
      <ion-icon name="paw-outline"></ion-icon> 
      <ion-label>Red</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicio">
      <ion-icon name="paw-outline"></ion-icon> 
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mascotas">
      <ion-icon name="paw-outline"></ion-icon> 
     <ion-label>Mascotas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="novedades">
      <ion-icon name="paw-outline"></ion-icon> 
      <ion-label>Novedades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="micuenta">
      <ion-icon name="paw-outline"></ion-icon> 
          <ion-label>Mi cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
