<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
Mi cuenta    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-row style="margin-top:2%">
   <ion-card  style="padding: 10%; background: aliceblue;text-align: center;">
    <img src="./assets/perfil.jpg" style="width:50%;margin-left: 25%;margin-right: 25%;border-radius: 10px;"/>
    <ion-label style="color:black">Nombre</ion-label>
    <ion-card style="padding:5px;margin:5px"><div style="text-align: center;">Julian Andres Mesa Pareja</div></ion-card>
    <ion-label style="color:black">Telefono</ion-label>
    <ion-card style="padding:5px;margin:5px"><div style="text-align: center;">(320)-696-51-67</div></ion-card>
    <ion-label style="color:black"> Direccion</ion-label>
    <ion-card style="padding:5px;margin:5px"><div style="text-align: center;">diagonal 29 # 26 a sur - 97</div></ion-card>

  </ion-card>

  </ion-row>

  <div style="margin-top:3%;">

  <ion-button class="boton" expand="block">Cambiar clave principal</ion-button>

  <ion-button class="boton" expand="block">Pagar suscripcion</ion-button>

  <ion-button class="boton" routerLink="suscripcion" expand="block">Historial de suscripcion</ion-button>

</div>
  
</ion-content>
